extends layout

block content

  h1= title
  i Mausoleums der Galla Placidia in Ravenna
  hr 
  h3(align='right')= author
  img(src="https://dl.dropboxusercontent.com/u/33161611/HoGent/kunstPlus/Mausoleums_der_Galla_Placidia_in_Ravenna_008.jpg", alt="" width="100%")
  p Mozaïek is een kunstvorm waarbij een grote afbeelding wordt vervaardigd uit een groot aantal kleine gekleurde steentjes (tesserae), die in een vloer of wand worden gemetseld. Met glas is het mogelijk een glas in lood-mozaïek te maken. In de Griekse en Romeinse tijd werden in luxe villa's mozaïeken gemaakt, waarop afbeeldingen van keizers, goden of taferelen van alledag te zien waren. Op diverse plaatsen in Europa zijn mozaïeken teruggevonden die tot op de dag van vandaag goed bewaard zijn gebleven.
   |Vanuit de middeleeuwen is onder meer de cosmatentechniek bekend, waarbij op geraffineerde wijze geometrische figuren werden ingelegd.
  video(src="https://dl.dropboxusercontent.com/u/33161611/HoGent/kunstPlus/Mausoleums%20der%20Galla%20Placidia%20in%20Ravenna.webm" autoplay loop controls width="100%")
  h3 Techniek
  p Men kan een mozaïek op twee manieren vervaardigen. De eerste manier is door het ter plaatse erop te zetten en vervolgens aan te brengen op de ervoor bestemde plaats. Deze techniek vereist echter een grote vaardigheid en is inspannend, omdat de maker voortdurend gebukt op de vloer moet zitten, en alle tegeltjes één voor één moet bevestigen.
   |Een andere methode is het maken van een sjabloon op een stuk papier, karton of stof. Vervolgens worden de steentjes op de sjabloon gelijmd. Dit werk kan in een atelier elders worden gedaan. De sjabloon is het spiegelbeeld van de uiteindelijke afbeelding. Het leggen gebeurt door het mozaïek met de sjabloon naar boven in het cement te drukken. Mozaïeken die op deze manier zijn vervaardigd zijn over het algemeen vlakker dan mozaïeken die direct op de vloer zijn aangebracht.
   |Het gebruik van sjablonen is met name praktisch voor het vervaardigen van sierranden met geometrische patronen. De Romeinse mozaïekleggers pasten ook een combinatie van technieken toe, waarbij de belangrijkste voorstelling ter plaatse werd gelegd, terwijl de ornamenten en omlijsting door middel van sjablonen werden aangebracht.
   |Tegenwoordig kan men mozaïeken kopen waarbij de losse steentjes of tegeltjes op een stuk gaas zijn gelijmd. Dit gaas wordt, in tegenstelling tot de sjabloon, direct tegen de wand of vloer aangebracht waarop het mozaïek wordt bevestigd. Hierna wordt de specie of kalk aangebracht waarmee het mozaïek bevestigd wordt.
  
