extends layout

block content
  h1= title
  p Welcome to #{title}

  ul
   li: a(href="/art", target="_blank") Here comes the art layout
   li: a(href="/artist", target="_blank") Here comes the author layout
   li: a(href="/organisatie", target="_blank") Here comes the gallery layout
   li: a(href="/evenementen", target="_blank") Here comes the layout for events organized by galleries


  p #{articles[0].title} #{articles[0].text}
